@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap");

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
  margin-right: 1.5rem !important;
}
.link-dark,
.link-dark:focus,
.link-dark:hover {
  color: #f1f1f1 !important;
}
.hover-yellow:hover {
  color: #ffc107 !important;
}

/* #212529
#ffc107 */
.nav-link-active,
.nav-link-active:hover {
  color: rgba(246, 210, 101, 0.381) !important;
  cursor: default;
}
.icon-social-media {
  width: 24px;
  height: 24px;
  display: block;
}
/* .tier-list-ul {
  list-style-image: url("/assets/img/mark.png");
} */
/* .tier-list-ul li {
  list-style: none;

}
.tier-list-ul li::before {
  display: flex;
  content: url(/assets/img/mark.png);
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: pink;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: -15px;
} */
.tier-list__td {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 165px;
}
.guide-platform {
  padding: 80px 0 120px;
}
.guide-platform__logo {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 170px;
}
.guide-platform__slogan {
  margin-top: -30px;
  height: 80px;
  background: center/auto 100% no-repeat;
}
.guide-platform__go {
  margin-top: 1px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.guide * {
  word-break: break-word;
  -ms-word-break: break-all;
}
.guide-platform__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}
.guide-platform__item {
  width: 60px;
  height: 60px;
  background: center/cover no-repeat;
}
.guide-platform__item--ps4 {
  width: 273px;
  background-image: url("/assets/img/ps4.png");
}
.guide-platform__item--ps4:hover {
  background-image: url("/assets/img/ps42.png");
}
.guide-platform__item--ps4 + .guide-platform__item {
  margin-left: 8px;
}
.guide-platform__item + .guide-platform__item {
  margin-left: 22px;
}
.guide-platform__item + .guide-platform__item {
  margin-left: 22px;
}
.guide-platform__item--ios {
  background-image: url("/assets/img/apple1.png");
}
.guide-platform__item--ios:hover {
  background-image: url("/assets/img/apple2.png");
}
.guide-platform__item--android {
  background-image: url("/assets/img/android1.png");
}
.guide-platform__item--android:hover {
  background-image: url("/assets/img/android2.png");
}
.guide-platform__item--windows {
  background-image: url("/assets/img/windows1.png");
}
.guide-platform__item--windows:hover {
  background-image: url("/assets/img/windows2.png");
}
.guide__fixed-background {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 1280px;
  height: 100vh;
  background: url("/assets/img/background-home.png") center/cover no-repeat;
}
.elementor-heading-title {
  overflow: hidden;
  text-align: center;
  font-size: 25px;
}

.elementor-heading-title:before,
.elementor-heading-title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #54595f;
  position: relative;
}

.elementor-heading-title:before {
  margin-left: -100%;
  left: -14px;
}

.elementor-heading-title:after {
  margin-right: -100%;
  right: -14px;
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;
  height: 350px;
}

.view .mask,
.view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.mask {
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.view-before {
  padding: 10px 30px;
  background-color: #212529af;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

.view img,
.view h2 {
  display: block;
  position: relative;
}

.view .mask h2 {
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #fff;
  position: relative;

  padding: 10px 80px 10px 0px;
  /*background: rgba(0, 0, 0, 0.8);*/
}

.view p {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center;
}

.view-first img {
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(62, 40, 91, 0.667);
  transition: all 0.7s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2 {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover .view-before {
  opacity: 0;
}

.view-first:hover .entry-meta {
  position: relative;
  bottom: 0;
}

.top-article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-list {
  display: flex;
}

.hide-sm {
  margin-left: auto;
  color: white;
}

.entry-meta {
  margin-top: 20px;
  margin-bottom: -40px;
  transition: all 0.3s ease;
}

.entry-meta {
  margin-bottom: 0;
}

.entry-meta > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.entry-meta > span:not(.readmore) {
  font-family: "Raleway", sans-serif;
  margin-right: 20px;
}

.entry-meta > span.readmore {
  font-family: "Raleway", sans-serif;
  float: right;
}

.entry-meta a {
  color: #fff;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}


.cat-list a:not(.role-ico) {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 0 10px;
  text-decoration: none;
  margin-right: 10px;
}
.post-meta-icon {
  font-size: 11px;
  margin: 0;
  padding: 0 2px 0 0;
  top: -1.35px;
  position: relative;
}

.m-guide-platform .m-guide__btn {
  margin-top: 0.25rem;
}

.m-guide__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.3rem auto 0;
  padding: 0.15rem;
  width: 200px;
  height: 50px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #804901;
  background-color: #ffc107;
  cursor: pointer;
}
.m-guide-platform {
  display: none;
}
.pc-guide-platform {
  display: block;
}
.entry-date-pc {
  display: block;
}

.entry-date,
.comment-link {
  display: inline-flex;
  align-items: center;
}
.entry-date-m {
  display: none;
}
.col__news:hover {
  cursor: pointer;
}
.user-settings-email {
  word-break: break-word;
  line-height: 1;
}
.user-profile {
  margin-top: 7rem;
  min-height: 544px;
  font-family: "Poppins", sans-serif;
}
.news-text {
  overflow: hidden;
  height: 72px;
  max-height: 72px;
  text-align: justify;
}
.border-right {
  border-right: 1px solid #dee2e6 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8 !important;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}
.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}
.ti-heart_custom,.ti-saved_custom {
  margin-top: 34%;
  display: inline-block;
}
.ti-heart_custom {
  background-image: url(/assets/img/icon/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 20px;
}
.ti-heart_custom:hover {
  cursor: pointer;
  background-image: url(/assets/img/icon/heart_hover.svg);
}


.ti-saved_custom {
  background-image: url(/assets/img/icon/bookmark-outline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 20px;
}
.ti-saved_custom:hover {
  cursor: pointer;
  background-image: url(/assets/img/icon/bookmark_hover.svg);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  vertical-align: top;
}

.topbar__breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.topbar__node {
  color: #808080;
  text-decoration: none;
}

.topbar__arraw {
  width: 24px;
  color: #aaa;
  text-align: center;
}

.topbar__back {
  color: #ccc;
  text-decoration: none;
  text-align: right;
  font-size: 16px;
}
.news-preview-image {
  width: 80%;
}
.latest__title {
  width: 100%;
  height: 34px;
  background: rgba(18, 18, 18, 0.04);
  color: #333;
  line-height: 34px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.latest__item:first-child {
  margin-top: 4px;
}

.latest__item {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.latest__item img {
  flex-shrink: 0;
  width: 140px;
  height: 70px;
}

.coverFit {
  -o-object-fit: cover;
  object-fit: cover;
}

.latest__info {
  width: 100%;
  margin-left: 10px;
  word-break: break-word;
  word-wrap: break-word;
}

.latest__info p:first-child {
  min-height: 40px;
  color: #393b40;
  font-size: 14px;
}

.latest__info p {
  line-height: 16px;
  max-height: 49px;
  overflow: hidden;
}

.latest__date {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

.latest__item:hover {
  background: #e3e3e5;
}

.article__title {
  line-height: 40px;
  font-size: 32px;
  color: #333;
  text-align: justify;
}

.article__date {
  margin-top: 13px;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}
.article__text {
  font-size: 16px;
  text-align: justify;
  line-height: 22px;
}
a {
  text-decoration: none;
}
.news-buttons-nav {
  color: white;
}
.news-buttons-nav:hover {
  color: white;
}
.lh-55 {
  line-height: 55px;
}
.headerSort {
  padding: 10px;
}
.table-responsive {
  overflow-x: auto;
}
.heroes-info-table {
  width: 100%;
  height: 100%;
  background-color: #faf3e7;
}
.table__GI {
  width: 100%;
}
.table__GI thead {
  background: #d3ba91;
}
.table__GI td {
  border-bottom: 1px solid #cecece;
  padding: 0 10px;
}

.table__GI td a {
  color: #667cb4;
}
.table__GI th:nth-child(1) {
  width: 40px;
}
.table__GI tbody {
  background-color: #faf3e7;
}
.table-code td,
.table-code th {
  border: 1px solid #cecece;
  padding: 0.5em;
}
.li-p-5 {
  padding: 5px;
}
.code-p {
  text-indent: 2em;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 18px;
}

.forum-tema {
  font-family: Inter;
  border: 1px solid #9b9b9b;
  height: 130px;
  width: 100%;
}

.forum-figure {
  height: 100%;
  min-width: 30px;
  width: 68px;

  position: relative;
}

.forum-figure div {
  background-color: white;
  position: relative;
  top: 12px;
  left: 90%;
  height: 104px;
  width: 8px;
  padding: 12px 0px;
}

.forum-text {
  width: 100%;
}

.h-40 {
  height: 40px;
}

.forum-tema h5 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  word-break: break-all;
}

.forum-tema p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.forum-tema span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  color: #000000;
}

.forum-tema button {
  min-width: 148px;
  height: 33px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.forum-title-obg {
  overflow: hidden;
  max-height: 40px;
  max-width: 100%;
}

.forum-create-obg {
  min-width: 250px;
}

.forum-last-update-mb span {
  display: none;
}

.forum-dropdown-mb {
  display: none;
}
.obg-tema {
  font-family: Inter;
  height: 130px;
  width: 100%;
}

.comment-user {
  font-family: Inter;
  width: 100%;
}

.forum-text {
  width: 100%;
}

.h-40 {
  height: 40px;
}

.obg-tema h5 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.obg-tema p,
.comment-user p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.obg-tema span,
.comment-user span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  color: #000000;
}

.obg-tema button {
  min-width: 148px;
  height: 33px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.obg-tema-title {
  overflow: hidden;
  max-height: 40px;
  max-width: 100%;
}

.forum-create-obg {
  min-width: 250px;
}

.btn-add-comment {
  margin-top: 10px;
  border: 1px solid #cdcdcd;
  padding: 20px;
}

.btn-add-comment > div:first-child {
  flex-grow: 1;
}

.btn-add-comment textarea {
  width: 100%;
  box-sizing: border-box;
}
#user_name {
  overflow: hidden;
  max-width: 200px;
  max-height: 28px;
  word-break: break-all;
}
#usernameSettings{
  word-break: break-all;
}
.obg-tema button {
  cursor: auto;
}
.topbar__title{
  max-height: 24px;
  max-width: 651px;
  overflow: hidden;
}
.post__cat-list a:hover,.cat-list a:hover{
  color: white !important;
}
.byline{
  max-width: 220px;
  overflow: hidden;
  max-height: 17px;
}
#postCurrent {
  color: white;
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  justify-content: space-around;
}

.postCurrent__info {
  display: flex;
  max-height: 20px;
}

.postCurrent__author {
  word-break: break-all;
  color: white;
}

.postCurrent_author-div {
  max-width: 250px;
  overflow: hidden;
}

.ti-saved_custom {
  margin-top: 20%;
  height: 16px;
}

.post-meta-icon {
  font-size: 13px;
  margin: auto;
  padding: auto;
  top: auto;
  position: relative;
}
.entry-date-pc,.entry-date-m{
  color: white;
}
.postCurrent__author:hover{
  color: white!important;
}
/* .pageination .page-link {
  border: 0px solid transparent;
  font-weight: 500;
  font-size: 18px;
  color: #979797;
  padding: 10px 8px;
}

.pageination .page-link:hover {
  background-color: transparent;
  color: #000;
}

.pageination i {
  font-size: 12px;
}
.page-item.active .page-link{
  color: white;
} */
/* .col__news:hover .card-body {
  background-color: rgba(108, 117, 125);
  transition: 1s;

}
.col__news:hover .card-text {
  color: white ;
}
.col__news:hover .btn-outline-secondary{
  color: white;
  border-color: white;
}
.col__news:hover .text-body-secondary{
  color: white!important;
} */
.btn-outline-secondary-like:hover {
  background-color: #da1d1d;
  transition: 0.8s;
}
.btn-outline-secondary-save:hover {
  background-color: #ffc107;
  color: #212529 !important;
  border-color: #212529;
  transition: 0.8s;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
