/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
  margin-right: 1.5rem !important;
}
.link-dark,
.link-dark:focus,
.link-dark:hover {
  color: #f1f1f1 !important;
}
.hover-yellow:hover {
  color: #ffc107 !important;
}

/* #212529
#ffc107 */
.nav-link-active,
.nav-link-active:hover {
  color: rgba(246, 210, 101, 0.381) !important;
  cursor: default;
}
.icon-social-media {
  width: 24px;
  height: 24px;
  display: block;
}
/* .tier-list-ul {
  list-style-image: url("/assets/img/mark.png");
} */
/* .tier-list-ul li {
  list-style: none;

}
.tier-list-ul li::before {
  display: flex;
  content: url(/assets/img/mark.png);
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  background-color: pink;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: -15px;
} */
.tier-list__td {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 165px;
}
.guide-platform {
  padding: 80px 0 120px;
}
.guide-platform__logo {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 170px;
}
.guide-platform__slogan {
  margin-top: -30px;
  height: 80px;
  background: center/auto 100% no-repeat;
}
.guide-platform__go {
  margin-top: 1px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.guide * {
  word-break: break-word;
  -ms-word-break: break-all;
}
.guide-platform__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
}
.guide-platform__item {
  width: 60px;
  height: 60px;
  background: center/cover no-repeat;
}
.guide-platform__item--ps4 {
  width: 273px;
  background-image: url("/assets/img/ps4.png");
}
.guide-platform__item--ps4:hover {
  background-image: url("/assets/img/ps42.png");
}
.guide-platform__item--ps4 + .guide-platform__item {
  margin-left: 8px;
}
.guide-platform__item + .guide-platform__item {
  margin-left: 22px;
}
.guide-platform__item + .guide-platform__item {
  margin-left: 22px;
}
.guide-platform__item--ios {
  background-image: url("/assets/img/apple1.png");
}
.guide-platform__item--ios:hover {
  background-image: url("/assets/img/apple2.png");
}
.guide-platform__item--android {
  background-image: url("/assets/img/android1.png");
}
.guide-platform__item--android:hover {
  background-image: url("/assets/img/android2.png");
}
.guide-platform__item--windows {
  background-image: url("/assets/img/windows1.png");
}
.guide-platform__item--windows:hover {
  background-image: url("/assets/img/windows2.png");
}
.guide__fixed-background {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 1280px;
  height: 100vh;
  background: url("/assets/img/background-home.png") center/cover no-repeat;
}
.elementor-heading-title {
  overflow: hidden;
  text-align: center;
  font-size: 25px;
}

.elementor-heading-title:before,
.elementor-heading-title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #54595f;
  position: relative;
}

.elementor-heading-title:before {
  margin-left: -100%;
  left: -14px;
}

.elementor-heading-title:after {
  margin-right: -100%;
  right: -14px;
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;
  height: 350px;
}

.view .mask,
.view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.mask {
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.view-before {
  padding: 10px 30px;
  background-color: #212529af;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

.view img,
.view h2 {
  display: block;
  position: relative;
}

.view .mask h2 {
  font-family: "Noticia Text", serif;
  font-weight: 700;
  font-size: 26px !important;
  line-height: 40px;
  color: #fff;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px 80px 10px 0px;
  /*background: rgba(0, 0, 0, 0.8);*/
}

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center;
}

.view-first img {
  transition: all 0.2s linear;
  width: 100%;
  height: 100%;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(62, 40, 91, 0.667);
  transition: all 0.7s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2
 {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover .view-before {
  opacity: 0;
}

.view-first:hover .entry-meta {
  position: relative;
  bottom: 0;
}

.top-article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-list {
  display: flex;
}

.hide-sm {
  margin-left: auto;
  color: white;
}

.entry-meta {
  margin-top: 20px;
  margin-bottom: -40px;
  transition: all 0.3s ease;
}

.entry-meta {
  margin-bottom: 0;
}

.entry-meta > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.entry-meta > span:not(.readmore) {
  font-family: "Noticia Text", serif;
  margin-right: 20px;
}

.entry-meta > span.readmore {
  font-family: "Raleway", sans-serif;
  float: right;
}

.entry-meta a {
  color: #fff;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}
.cat-list a:last-child {
  margin: 0;
}

.cat-list a:not(.role-ico),
.cat-links a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 0 10px;
  text-decoration: none;
  margin-right: 10px;
}
.post-meta-icon {
  font-size: 11px;
  margin: 0;
  padding: 0 2px 0 0;
  top: -1.35px;
  position: relative;
}

.m-guide-platform .m-guide__btn {
  margin-top: 0.25rem;
}

.m-guide__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.3rem auto 0;
  padding: 0.15rem;
  width: 200px;
  height: 50px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #804901;
  background-color: #ffc107;
  cursor: pointer;
}
.m-guide-platform{
  display: none;
}
.pc-guide-platform{
  display: block;
}
@media (max-width: 1000px) {
  .m-guide-platform{
    display: block;
  }
  .pc-guide-platform{
    display: none;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
